@keyframes like {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-15deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.4);
  }
  80%,
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.spinner {
  animation: like 0.8s infinite linear;
}
